body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2; /* Updated background color */
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
}

.form-container {
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.advertisement-card {
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.advertisement-card h2 {
  color: #212529;
  margin-bottom: 30px;
  font-size: 28px;
}

.advertisement-card input,
.advertisement-card textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  background-color: #f8f9fa;
  transition: border-color 0.3s ease;
}

.advertisement-card input:focus,
.advertisement-card textarea:focus {
  outline: none;
  border-color: #007bff;
}

.advertisement-card textarea {
  resize: none;
}


.add-button {
  background-color: #007bff;
  color: #ffffff;
}

.add-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #dc3545;
  color: #ffffff;
}

.advertisement-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advertisement-item {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.advertisement-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .advertisement-item {
    width: calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .advertisement-item {
    width: calc(100% - 30px);
  }
}
